::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100dvh;
    background-color: var(--mantine-color-background-3);
    overflow: auto;
    min-height: 100dvh;
    display: flex;
}

@media (min-width: 768px) {
    #root {
        min-height: 100vh;
    }
}
